{{audio-recorder}}

<div class="row">
  <div class="medium-6 columns">
    {{#each clipsList as |clip|}}
      {{mp3-player
        mp3file=clip.mp3
        text=clip.text
        selectClip=(action 'selectClip' clip)
      }}
    {{/each}}
  </div>

  <div class="medium-6 columns">
    {{#sortable-objects sortableObjectList=sortableObjectList sortEndAction='sortEndAction'}}
      {{#each sortableObjectList as |item index|}}
        {{#draggable-object content=item  overrideClass='sortObject' isSortable=true}}
          <div class="question">
            {{input placeholder="Zastavite vprašanje"}}

            {{audio-recorder
              shouldAutoPlay=(eq playIndex (concat index '.a'))
              autoPlayFinished=(action 'autoPlayFinished' 'a')
              }}

            {{mp3-player
              mp3file=item.mp3
              text=item.text
              shouldAutoPlay=(eq playIndex (concat index '.b'))
              autoPlayFinished=(action 'autoPlayFinished' 'b')
            }}

            {{fa-icon "bars"}}
          </div>
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}
  </div>

  {{#if sortableObjectList}}
    <div class="small-6 columns">
      <button {{action 'playSortedClips'}} class="button">Predvajaj vse</button>
      {{ playAll }}
    </div>
  {{/if}}
</div>

{{outlet}}
