<div class="row">
  <div class="medium-6 columns">
    {{#each clipsList as |clip|}}
      {{mp3-player
        mp3file=clip.mp3
        text=clip.text
        selectClip=(action 'selectClip' clip)
      }}
    {{/each}}
  </div>
</div>

<div class="row">
  <div class="medium-6 columns">
    {{#sortable-objects sortableObjectList=sortableObjectList sortEndAction='sortEndAction'}}
      {{#each sortableObjectList as |item index|}}
        {{#draggable-object content=item  overrideClass='sortObject' isSortable=true}}
          <div class="question">
            {{input placeholder="Zastavite vprašanje"}}
            {{mp3-player
              mp3file=item.mp3
              text=item.text
              state=item.state
              shouldAutoPlay=(eq playIndex index)
              autoPlayFinished=(action 'autoPlayFinished')
            }}
            {{item.state}}
          </div>
        {{/draggable-object}}
      {{/each}}
    {{/sortable-objects}}
  </div>

  <div class="small-6 columns">
    <button {{action 'playSortedClips'}} class="button">Predvajaj vse</button>
    {{ playAll }}
  </div>
</div>

{{outlet}}
