<div class="small-1 columns">
  <button class="btn" {{action 'playPause'}}>
    {{#if playing}}
      {{fa-icon "stop"}}
    {{else}}
      {{fa-icon "play"}}
    {{/if}}
  </button>
</div>

<div class="small-8 columns end">
  {{ text }}
</div>

{{#if selectClip}}
  <div class="small-3 columns">
    <button {{action "selectClip"}} class="button">Dodaj</button>
  </div>
{{/if}}

{{yield}}
